@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #EED9C5, #EEC4A5);
    background-size: cover;
   height: 100vh;
    
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b897808e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #F09204;
text-align: center;
text-shadow: 1px 1px 2px #834f01ab;
}

h2{
color: #0F5186;
}

p{
    text-align: justify;
}